@model oms.Models.Product

@{
    ViewData["Title"] = "Details";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Services / Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Detail Service</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <p class="font-weight-bold">Service Name | Detail</p>

                        <div class="callout callout-danger">
                            <h5 class="font-weight-bold text-primary">@(Model.ProductName)</h5>
                            <p>
                                @(Model.Detail)
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="font-weight-bold">Estimated Price</p>
                            </div>
                            <div class="col-md-6">
                                <p class="font-weight-bold">Added date | By</p>
                            </div>
                        </div>
                        <div class="callout callout-info">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Rs. @(Model.EstimatePrice)/-</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>@(Model.AddedDate) | @(Model.AddedBy)</h5>
                                    @if (Model.ModifyDate != null)
                                    {
                                        <h5>@(Model.ModifyDate) | @(Model.ModifyBy)</h5>
                                    }
                                </div>
                            </div>
                        </div>
                        <p>Actions</p>
                        <div class="callout callout-warning">
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>

                    </div>
                 
                </div>
                <!-- /.card -->
         
            </div>
            <!--/.col (left) -->
           
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

